*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Futura PT", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #232828; }

.paragraph {
  font-size: 1.5rem;
  line-height: 150%; }

h1 {
  font-size: 2.25rem;
  color: #FE6557;
  font-weight: 400;
  margin-bottom: 2rem; }

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row; }
  .navbar__item a {
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 100%; }
  .navbar__item:not(:last-child) {
    padding: 1.5rem 0rem 1.5rem 2rem; }
  .navbar__item:last-child {
    padding: 1.5rem 2rem 1.5rem 2rem; }

.header {
  padding: 0 4rem;
  background-color: #FE6557;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 2rem; }

.intro {
  margin-top: 4rem;
  padding: 0 4rem; }
  .intro .flex-grid {
    align-items: center;
    display: flex;
    flex-direction: row; }
  .intro__text-box {
    text-align: center;
    flex-grow: 1; }
    .intro__text-box .text-span {
      color: #FE6557; }
  .intro__image {
    width: 41rem;
    flex-grow: 1; }

.work {
  margin-top: 4rem;
  padding: 0 4rem; }
  .work .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2rem; }
  .work__image {
    max-width: 22.6%;
    margin: 0 0 2rem 2rem; }

.blog {
  margin-top: 4rem; }
  .blog .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2rem; }
  .blog__image {
    max-width: 22.6%;
    margin: 0 0 2rem 2rem; }

@font-face {
  font-family: "Futura PT";
  font-weight: 300;
  src: url(fonts/FuturaPTLight.otf) format("opentype"); }

@font-face {
  font-family: "Futura PT";
  font-weight: 400;
  src: url(fonts/FuturaPTBook.otf) format("opentype"); }

@font-face {
  font-family: "Futura PT";
  font-weight: 600;
  src: url(fonts/FuturaPTDemi.otf) format("opentype"); }

@font-face {
  font-family: "Futura PT";
  font-family: 500;
  src: url(fonts/FuturaPTMedium.otf) format("opentype"); }
