@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";

@import "components/navbar";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";

@import "pages/home";


@font-face{
	font-family: "Futura PT";
	font-weight: 300;
	src: url(fonts/FuturaPTLight.otf) format('opentype');
}

@font-face{
	font-family: "Futura PT";
	font-weight: 400;
	src: url(fonts/FuturaPTBook.otf) format('opentype');
}

@font-face{
	font-family: "Futura PT";
	font-weight: 600;
	src: url(fonts/FuturaPTDemi.otf) format('opentype');
}
@font-face{
	font-family: "Futura PT";
	font-family: 500;
	src: url(fonts/FuturaPTMedium.otf) format('opentype');
}



