.header {
	padding: 0 $container-padding;
	background-color: $color-primary;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__logo {
		height : 2rem;
	}
}


