.header {
	// padding: 0 $gutter-16;
	// background-color: $color-primary;
	// height: 4rem;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;

	&__logo {
		height : 2rem;
	}


	// transition: top 0.2s ease-in-out;
	// position: fixed;
	// width: 100%;
 //    top: 0;

}

.bg-dark {
	background-color: $color-primary !important;
}

.nav-link {
	color: $color-white !important;
}

.header-placeholder {
	min-height: 4rem;
}