body {
	font-family: "Futura PT", sans-serif;
	font-size: $default-font-size;
	font-weight: 400;
	color: $color-dark-main;
}

.paragraph {
	font-size: 1.25rem;
	line-height: 150%;
}

h1 {
	font-size: 1.5rem;
	
	color: $color-primary;
	font-weight: 400;
	margin: 0 0 $gutter-24 0;
}

h2 {
	font-size: 1.125rem;
	
	color: $color-dark-main;
	font-weight: 600;
	margin: $gutter-16 0 0 0;
}

.caption-date {
	font-size: 0.75rem;

	color: $color-dark-second;
	font-weight: 500;
	margin: $gutter-16 0 0 0;
}

.caption {
	font-size: 1rem;

	color: $color-dark-second;
	font-weight: 400;
	margin: $gutter-16 0 0 0;
	line-height: 150%;
}

.form-label-item {
	font-size: 1rem;

	color: $color-dark-second;
	font-weight: 400;
	line-height: 100%;
}