<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aysa Putri - Hand Lettering Artist</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>  	    
  	<header class="header">
  			<img class="header__logo" src="/img/logo-box.png">
  			<ul class="navbar">
    				<li class="navbar__item"><a href="#work">Works</a></li>
            <li class="navbar__item"><a href="#blog">Blog</a></li>
            <li class="navbar__item"><a href="#freebies">Freebies</a></li>
            <li class="navbar__item"><a href="#contact">Contact</a></li>
  			</ul>
  	</header>

    <main>
      <section class="intro">
        <div class="flex-grid">        
            <div class="intro__text-box">
              <p class="paragraph">Hello! <br> My name is <span class="text-span">Aysa Putri</span> and <br> I‘m a Hand Lettering Artist.</p>
            </div>
          <div>
            <img class="intro__image" src="img/persist.png">
          </div>
        </div>
      </section>
      
      <section class="work" id="work">
          <h1>My Works</h1>
          <div class="flex-grid">
            <img class="work__image" src="/img/feel.png">
            <img class="work__image" src="/img/minimal.png">
            <img class="work__image" src="/img/feel.png">
            <img class="work__image" src="/img/minimal.png">
            <img class="work__image" src="/img/minimal.png">
            <img class="work__image" src="/img/feel.png">
            <img class="work__image" src="/img/minimal.png">
            <img class="work__image" src="/img/feel.png">
          </div>
      </section>

      <section class="blog" id="blog">
          <h1>Blog</h1>
          <div class="carousel" data-flickity='{ "freeScroll": true , "cellAlign": "left" , "wrapAround": true}'>
            <div class="card">
              <img class="card__image" src="/img/b.png">
              <h2>Blog #01</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the blog. It is longer than the mobile version. It is because </p>
            </div>
            
            <div class="card">
              <img class="card__image" src="/img/after-all-this.png">
              <h2>Blog #02</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the blog. It is longer than the mobile version. It is because </p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/take-care.png">
              <h2>Blog #03</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the blog. It is longer than the mobile version. It is because </p>
            </div>
          </div>
          </div>
      </section>

      <section class="freebies" id='freebies'>
          <h1>Freebies</h1>
          <div class="flex-grid">
            <div class="card">
              <img class="card__image" src="/img/jangan-takut.png">
              <h2>Blog #01</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/lettering-process.png">
              <h2>Blog #02</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/jangan-takut.png">
              <h2>Blog #03</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/lettering-process.png">
              <h2>Blog #04</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/grateful.png">
              <h2>Blog #05</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>

            <div class="card">
              <img class="card__image" src="/img/jangan-takut.png">
              <h2>Blog #06</h2>
              <p class="caption-date">April 29, 2020</p>
              <p class="caption">Some snippets of description about what is the freebie</p>
            </div>              
          </div>
      </section>
      
      <section class="contact" id="contact">
        <div class="flex-grid">        
          <div>
            <img class="contact__image" src="/img/persist.png">
          </div>
          <div class="contact__form">
            <h1>Contact me</h1>        
            <form>
              <ul class="form-style-1">
                  <li>
                    <input type="text" name="field1" class="field-divided" placeholder="First Name" /> 
                    <input type="text" name="field2" class="field-divided" placeholder="Last Name" />
                  </li>
                  
                  <li>
                      <input type="email" name="field3" class="field-long" placeholder="Email Address" />
                  </li>

                  <li>
                    <input type="text" name="field4" class="field-long" placeholder="Subject" />
                  </li>

                  <li>
                      <textarea name="field5" id="field5" class="field-long field-textarea" placeholder="Message"></textarea>
                  </li>
                  <li><input class="button-primary" type="submit" value="Send" /></li>
              </ul>
            </form>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__main">
          <div class="footer__social">
            <div class="footer__social--circle instagram"></div>
            <div class="footer__social--circle dribbble"></div>
            <div class="footer__social--circle youtube"></div>
            <div class="footer__social--circle pinterest"></div>
            <div class="footer__social--circle linkedin"></div>
            <div class="footer__social--circle whatsapp"></div>
          </div>
        </div>
        <div class="footer__copyright">
          <img class="footer__logo" src="/img/logo-box.png">
        </div>

      </footer>

    </main>


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
