.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -2rem;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 0.25rem;
  width: 3rem;
  margin: 0;
  border-radius: 0;
}