.navbar {	
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 1rem $gutter-16;

	@include respond(tablet) {
		padding: 1rem $gutter-52;
	}

	@include respond(laptop) {
		padding: 1rem $gutter-64;
	}

	&__item a {
		font-weight: 500;
		color: $color-white;
		text-decoration: none;
		line-height: 100%;
	}

	&__item:not(:last-child) {
		padding: 1.5rem 0rem 1.5rem 2rem;		
	}

	&__item:last-child {
		padding: 1.5rem 2rem 1.5rem 2rem;	
	}

}

.navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}




.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0rem 1rem;
}