.intro {

	margin-top: $gutter-vertical;
	padding: 0 $container-padding;

	.flex-grid {
		align-items: center;
    	display: flex;
    	flex-direction: row;
   		// justify-content: stretch;
	}

	&__text-box {
		text-align: center;
		flex-grow: 1;

		.text-span {
			color: $color-primary;
		}
	}

	&__image {
		width: 41rem;
		flex-grow: 1;
	}

}

.work {

	margin-top: $gutter-vertical;
	padding: 0 $container-padding;

	.flex-grid {
    	display: flex;
    	flex-direction: row;
    	// justify-content: space-between;
    	flex-wrap: wrap;
    	margin-left: -$gutter-vertical-small;
	}

	&__image {
		max-width: 22.6%; 
		margin: 0 0 $gutter-vertical-small $gutter-vertical-small;
	}
}

.blog {

	margin-top: $gutter-vertical;
	padding: 0 $container-padding;

	.card {
	max-width: 35rem;
	border-radius: 0.625rem;
	overflow: hidden;
	margin-right: $gutter-horizontal;
	counter-increment: gallery-cell;

	&__image {
		object-fit: cover;
		width:35rem;
		height:14.5rem;
	}

}
}

.freebies {

	margin-top: $gutter-vertical;
	padding: 0 $container-padding;

	.flex-grid {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	margin-left: -$gutter-vertical-small;
		
		.card {
			max-width: 22.6%; 
			margin: 0 0 $gutter-vertical-small $gutter-vertical-small;

			&__image {
				object-fit: cover;
				width: 100%; 
			}
		}
	}
}