// COLOR
$color-primary:#FE6557;
$color-primary-dark: #C32B1D;
$color-secondary: #70C0C0;
$color-secondary-light: #96E5E5;
$color-secondary-dark-1: #346B6A;
$color-secondary-dark-2: #27504F;
$color-dark-main: #232828;
$color-dark-second:#5A5E5E;
$color-grey: #E5E5E5;
$color-white: #FFFFFF;
$color-black-80: #00000080;

// FONT
$default-font-size: 1rem;

// GRID
$grid-width: 100%;
$gutter-64: 4rem;
$gutter-52: 3.25rem;
$gutter-32: 2rem;
$gutter-24: 1.5rem;
$gutter-16: 1rem;